@model IEnumerable<FuelStation.Models.Fuel>

@{
    ViewData["Title"] = "Топливо";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Топливо</h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FuelType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FuelDensity)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelDensity)
            </td>

        </tr>
}
    </tbody>
</table>
