@model FuelStation.ViewModels.Users.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
<h2>Добавить</h2>
<form asp-action="Create" asp-controller="Users">
    <h4>Пользователь</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label">Имя пользователя</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label  col-md-2">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">Пароль</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RegistrationDate" class="control-label  col-md-2">Дата регистрации</label>
        <input asp-for="RegistrationDate" class="form-control" />
        <span asp-validation-for="RegistrationDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserRole" class="control-label col-md-2"></label>
        <select asp-for="UserRole" class="form-control" asp-items="ViewBag.UserRole"></select>
        <span asp-validation-for="UserRole" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-warning" />
    </div>
</form>
<div>
    <a asp-action="Index" class="btn btn-sm btn-primary">Вернуться</a>
</div>