@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Личные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Ваша учетная запись содержит личные данные, которые вы нам предоставили. Эта страница позволяет вам загрузить или удалить эти данные.</p>
        <p>
            <strong>Удаление этих данных навсегда удалит вашу учетную запись, и это не может быть восстановлено.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Загрузить</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Удалить</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}