@model Operation

@{
    ViewData["Title"] = "Редактировать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать</h2>

<h4>Операция</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OperationID" />
            <div class="form-group">
                <label asp-for="FuelID" class="control-label"></label>
                <select asp-for="FuelID" class="form-control" asp-items="ViewBag.FuelID"></select>
                <span asp-validation-for="FuelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TankID" class="control-label"></label>
                <select asp-for="TankID" class="form-control" asp-items="ViewBag.TankID"></select>
                <span asp-validation-for="TankID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inc_Exp" class="control-label"></label>
                <input asp-for="Inc_Exp" class="form-control" />
                <span asp-validation-for="Inc_Exp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    // переопределение валидации на стороне клиента
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
</script>
}

